/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.footer{
    text-align: center;
}
#map {
    height: 500px;
    width: 1200px;
}














